.git
.github
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
node_modules
dist
build
coverage
.venv
venv
state
legacy
docker/.docker-config
docker/archive-docker-compose.n5.legacy.yml
docker-compose*.yml
*.log
